<div class="container mt-4">
  <div class="row ml-1">
    <h1>{{userToshow?.knownAs}}'s Profile</h1>
  </div>
  <div class="row">
    <div class="col sm-4">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top img-thumbnail" src="{{userToshow?.url || '../../../../../assets/userpic.png'}}" alt="">
        <div class="card-body">
          <div>
            <strong>Location:</strong>
          <p>{{userToshow?.country}} , {{userToshow?.city}}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{userToshow?.age}}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
          <p>{{userToshow?.lastActive | timeago:'live'}}</p>
          </div>
          <div>
            <strong>Member Since:</strong>
          <p>{{userToshow?.created | date:'mediumDate'}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Like</button>
            <button class="btn btn-danger w-100">Message</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col sm-8">
      <div class="tab-panel">
        <ngb-tabset>
        <ngb-tab title="About {{userToshow?.knownAs}}">
            <ng-template ngbTabContent>
              <strong>Description</strong>
            <p>{{userToshow?.introduction}}</p>
              <strong>looking for</strong>
            <p>{{userToshow?.lookingFor}}</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Interests">
            <ng-template ngbTabContent>
              <strong>Interests</strong>
            <p>{{userToshow?.interests}}</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Photos">
            <ng-template ngbTabContent>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
        <ngb-tab title="Messages">
          <ng-template ngbTabContent>
            Messages will go here
          </ng-template>
        </ngb-tab>

      </div>
    </div>
  </div>
</div>
